<% include ../partials/head%>
<% include ../partials/header%>

    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <h3>PhotoSphere</h3>
                <div>
                    <li class="list-group-item active">info 1</li>
                    <li class="list-group-item"><a href=""><i class="fa fa-user" aria-hidden="true"></i> Posted by <%=displayPost.author.username %></a></li>
                    <li class="list-group-item"><i class="fa fa-time" aria-hidden="true"></i> Posted <%=displayPost.createdAt%></li>
                </div>
            </div>
            <div class="col-md-9">
                <div class="thumbnail">
                    <img class="img-responsive" src="/<%=displayPost.image %>">
                    <div class="caption-full">
                        <h4 class="caption">
                           <%=displayPost.caption %>
                        </h4>

                        <% if(currentUser && displayPost.author.id.equals(currentUser._id)){%>
                        <!--Edit button-->
                        <a id="edit-btn" class="btn btn-xs btn-warning" href="/home/<%= displayPost._id %>/edit">Edit post</a>
                        <!--delete form-->
                        <form id="del-btn" action="/home/<%=displayPost._id %>?_method=DELETE" method="POST">
                            <button class="btn btn-xs btn-danger" >Delete post</button>
                        </form>
                        <% }%>
                    </div>
                </div>

                <!--Comment section-->
                <div class="well">
                    
                    <div class="text-right">
                        <a class="btn btn-xs btn-success" href="#">Like <i class="fa fa-thumbs-up" aria-hidden="true"  ></i></a>
                        <a class="btn btn-xs btn-success" href="/home/<%=displayPost._id%>/comment/new">Comment <i class="fa fa-plus" ></i></a>
                    </div>
                    <hr>
                    

                    <%  displayPost.comments.forEach(function(comment){ %>
                        <div class="row">
                            <div class="col-md-12">
                                 <strong><%=comment.author.username%></strong>
                                 <span class="pull-right"><%=comment.createdAt %></span>
                                <p>
                                    <%-comment.text%>
                                </p>
                               <% if(currentUser && comment.author.id.equals(currentUser._id)){%>
                                    <!--Edit button-->
                                    <a id="edit-btnn" class="btn btn-xs btn-warning" href="/home/<%= displayPost._id %>/comment/<%=comment._id %>/edit">edit comment</a>
                                    <!--delete form-->
                                    <form id="del-btn" action="/home/<%=displayPost._id %>/comment/<%=comment._id %>?_method=DELETE" method="POST">
                                        <button class="btn btn-xs btn-danger" >delete comment</button>
                                    </form>
                                <% }%>
                            </div>
                        </div>
                    <% }) %>
                </div>
            </div>
        </div>
    </div>


<% include ../partials/footer%>
<% include ../partials/foot %>